

body{
    background-image: url(clouds.png);
    background-color: rgba(0, 132, 255, 0.781);
}
#hive {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
}
h1{
    font-family: cursive;
    color: yellow;
    z-index: 1;
    position: absolute;
    font-size: 50px;
    top: 30px;
    left: 900px;
}
#honeyhive {
    z-index: 1;
    position: absolute;
    top: 140px;
    left: 980px;
    size: 150px;
}
h2{
    font-family: cursive;
    color: black;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    top: 600px;
    left: 170px;
    text-decoration: underline;
    background-color: yellow;
}

.button1{
    background:none;
    border:none;
    z-index: 2;
    max-width: 60px;
    top: 50px;
    left: 180px;
}

#bee1:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee1 {
    position: absolute;
    z-index: 2;
    max-width: 60px;
    top: 50px;
    left: 180px;
}

.button2{
    background:none;
    border:none;
    z-index: 2;
}

#bee2:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee2 {
    position: absolute;
    z-index: 2;
    max-width: 110px;
    top: 390px;
    left: 300px;
}

.button3{
    background:none;
    border:none;
    z-index: 2;
}

#bee3:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee3 {
    position: absolute;
    z-index: 2;
    max-width: 150px;
    top: 440px;
    left: 600px;
}

.button4{
    background:none;
    border:none;
    z-index: 2;
}

#bee4:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee4 {
    position: absolute;
    z-index: 2;
    max-width: 100px;
    top: 570px;
    left: 1000px;
}

.button5{
    background:none;
    border:none;
    z-index: 2;
}

#bee5:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee5 {
    position: absolute;
    z-index: 2;
    max-width: 110px;
    top: 250px;
    left: 940px;
}

.button6{
    background:none;
    border:none;
    z-index: 2;
}

#bee6:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee6 {
    position: absolute;
    z-index: 2;
    max-width: 150px;
    top: 25px;
    left: 1240px;
}

.button7{
    background: none;
    border: none;
    z-index: 2;
}

#bee7:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee7 {
    position: absolute;
    z-index: 2;
    max-width: 90px;
    top: 150px;
    left: 780px;
}

.button8{
    background: none;
    border: none;
    z-index: 2;
}

#bee8:hover {
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);

}

#bee8 {
    position: absolute;
    z-index: 2;
    max-width: 90px;
    top: 190px;
    left: 480px;
}

#back {
    position: absolute;
    z-index: 2;
    max-width: 150px;
    top: 570px;
    left: 1200px;
}

#back:hover {
    transform: scale(1.2);
}

.bees1{
    z-index: 2;
    width: 150px;
}

.appear1 {
    cursor: pointer;
    display: none;
    z-index: 2;
}

#honey1 {
    position: absolute;
    max-width: 50px;
    top: 650px;
    left: 300px;
    z-index: 3;

}

#honey2 {
    position: absolute;
    max-width: 50px;
    top: 650px;
    left: 360px;
    z-index: 3;

}

#honey3 {
    position: absolute;
    max-width: 50px;
    top: 650px;
    left: 420px;
    z-index: 3;

}

#honey4 {
    position: absolute;
    max-width: 50px;
    top: 650px;
    left: 480px;
    z-index: 3;

}

#honey5 {
    position: absolute;
    max-width: 50px;
    top: 650px;
    left: 540px;
    z-index: 3;

}

#p1 {
    position: absolute;
    font-family: cursive;
    color: rgb(244, 117, 255);
    background-color: rgba(255,255,255,0.5);
    border-radius: 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 40px;
    top: 500px;
    left: 400px;
    z-index: 3;
}

.bees1:active {
    display: block;
}
