body {
    background-color: black;
}
#one {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#three {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#six {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#eight {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.flash {
    background-image: url("flashing.gif");
}
#warning {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 325px;
    padding-bottom: 325px;
}
#two {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#four {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#five {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#seven {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#nine {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}


#red1 {
    position: absolute;
    top: 500px;
    left: 100px;
    max-width: 50px;
    align-content: center ;
    padding-left: 200px;
    padding-bottom: 200px;
}

#red2 {
    position: absolute;
    top: 500px;
    left: 300px;
    max-width: 50px;
    align-content: center ;
    padding-left: 200px;
    padding-bottom: 200px;
}

@-webkit-keyframes blink {
    0% { opacity: 0; }
    49% {opacity: 0; }
    50% {opacity: 1;}
    100% { opacity: 1; }
}
@keyframes blink {
    0% { opacity: 0; }
    49% {opacity: 0; }
    50% {opacity: 1;}
    100% { opacity: 1; }
}

#monster1 {
    max-width: 100%;
    position: absolute;
    z-index: 1;
    top: 10210px;
    left: 350px;
    -webkit-animation: blink 1s;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.monster {
    background-image: url("scary.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    padding:0px;
}

#ten {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 20px;
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
}

#monster {
    width: 600px;
    padding-top: 10px;
    padding-left: 500px;
}