body {
    display:flex;
    flex-direction: row;
    background-image: url("dark forest.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0;
    padding:0;
}

.notstandard {
    position: absolute;
    height:200px;
    width: 420px;
    left: 1100px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    font-variant: normal;
    line-height: 20px;
    padding: 10px;
}

.startButton {
    margin-left: 1vw;
    margin-top: 1vh;
    padding: 5px;
    background-color:rgb(156, 228, 89);
}

.startButton:hover {
    transform:scale(1.1);
    background-color: rgb(247, 232, 211);
}

.standard {
    height:100vh;
    width: 33.3%;
}



.circleBase {
    border-radius: 50%;
    /* behavior: url(PIE.htc); */
    width: 100px;
    height: 100px;
    background: none;
    padding: 0;
    border: none;
}

#possum {
    position: absolute;
    top: 250px;
    left: 160px;
    width: 250px;
}

#sheep {
    position: absolute;
    top: 260px;
    left: 40px;
    width: 250px;
}

.type1 {
    position: absolute;
    z-index: 1;
    margin-top: 250px;
    margin-left: 240px;
}

.circleBase:hover {
    background: rgba(255,255,255,0.5);
}

.speech-bubble {
    display: none;
    background: #efefef;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 300px;
    padding: 5px;
    position: absolute;
}

.speech-type1 {
    margin-top: 125px;
    margin-left: 20px;
}

.speech-bubble p {
    margin: 0 0 10px;
}

.speech-bubble p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble::after {
    border-left: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px;
}

#opacity {
    background: none;
}

#demo {
    opacity: 0;
}

#clue {
    background: #7f7f7f;
    background: rgba(255,255,255,0.5);
}

.sparkles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    grid-auto-rows: 100px, auto;
    max-width: auto;
    max-height: auto;
}

.one {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: end;
}

.button1 {
    background: none;
    border: none;
}

.button1:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);

}

.two {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
    align-self: start;
}

.button2:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

.button2 {
    background: none;
    border: none;
}

.three {
    grid-column: 6;
    grid-row: 1;
    justify-self: right;
    align-self: center;
}

.button3 {
    background: none;
    border: none;
}

.button3:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

.four {
    grid-column: 4;
    grid-row: 2;
    justify-self: right;
    align-self: center;
}

.button4 {
    background: none;
    border: none;
}

.button4:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

.five {
    grid-column: 7;
    grid-row: 2;
    justify-self: center;
    align-self: end;
}

.button5 {
    background: none;
    border: none;
}

.button5:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

.six {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: center;
}

.button6 {
    background: none;
    border: none;
}

.button6:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

.seven {
    grid-column: 5;
    grid-row: 3;
    justify-self: right;
    align-self: end;
}

.button7 {
    background: none;
    border: none;
}

.button7:hover {
    background-color:rgba(248, 118, 220, 0.2);
    border-radius: 190px;
    box-shadow: 0 0 10px 10px rgba(248, 118, 220, 0.2);
}

#img1 {
    max-width: 200px;
}

.fairies {
    height:100vh;
    width: 33.3%;
}

.text-bubble {
    display: none;
    background: rgba(226,118,248,0.8);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 300px;
    padding: 5px;
    position: absolute;
}

.text-type1 {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 200px;
}

.text-bubble p {
    margin: 0 0 10px;
}

.text-bubble p:last-of-type {
    margin-bottom: 0;
}

#fairyone {
    position: absolute;
    z-index: 2;
    width: 100px;
    top: 80px;
    left: 350px;
}

.text-type2 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 700px;
}

#fairytwo {
    position: absolute;
    z-index: 2;
    width: 150px;
    top: 20px;
    left: 950px;
}

.text-type3 {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 900px;
}

#fairythree {
    position: absolute;
    z-index: 2;
    width: 200px;
    top: 220px;
    left: 1150px;
}

.text-type4 {
    position: absolute;
    z-index: 2;
    top: 230px;
    left: 380px;
}

#fairyfour {
    position: absolute;
    z-index: 2;
    width: 200px;
    top: 280px;
    left: 500px;
}

.text-type5 {
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 1210px;
}

#fairyfive {
    position: absolute;
    z-index: 2;
    width: 170px;
    top: 440px;
    left: 1100px;
}

.text-type6 {
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 20px;
}

#fairysix {
    position: absolute;
    z-index: 2;
    width: 150px;
    top: 540px;
    left: 150px;
}

.text-type7 {
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 500px;
}

#fairyseven {
    position: absolute;
    z-index: 2;
    width: 250px;
    top: 550px;
    left: 600px;
}
