body {
    background-color: black;
    background-image: url("glitch.png");
}

div {
    display: flex; flex-direction: column;
    max-width: 500px;
    position: relative;
    align-content: center;
    padding: 30px; 
    margin: 0px auto;
    background-color: lawngreen; 
}

img {
    filter: saturate(0%);
    size: 50%;
}

img:hover{
    filter: saturate(100%);
}

