h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lawngreen;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: hotpink
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
body {
    background-color: black;
}

/* planet {
    background-color: white;
    max-width: 50px;
    max-height: 50px;
    left: 400px;
    top: 300px;
    z-index: 1;
} */